{{ define "home" }}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="..public/css/main.css">
    <title>Countdown Timer</title>
</head>
<form action="/submitShow" method="POST">

    <body>
        <h1>Event Countdown Timer</h1>
        <div style="width: 25%; float:left;">
            <label for="name">Enter Event Name:</label>

            <input type="text" id="name" name="name" placeholder="Ex: My Birthday" onkeyup="stoppedTyping()" />
            <span id="errorname"></span>
        </div>
        <div style="width: 25%; float:left;">
            <label for="meeting">Event Date : </label>
            <input id="date" type="date" name="date" value={{.Date}} />
        </div>

        <div>
            <label for="time">Event Time : </label>
            <input id="time" type="time" name="time" value={{.Time}} />
        </div>
        <br>


        <input id="submit" type="submit" value="submit" disabled />
        <script type="text/javascript">
            function stoppedTyping() {
                var submitEle = document.getElementById('submit')
                if (submitEle.value.length > 0) {
                    console.log("Event name Entered")
                    submitEle.disabled = false;
                } else {
                    submitEle.disabled = true;
                }
            }

        </script>
</form>


<!-- <div class="base-timer">
        <svg class="base-timer__svg" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
            <g class="base-timer__circle">
                <circle class="base-timer__path-elapsed" cx="5" cy="5" r="4" />
            </g>
        </svg>
        <span>

            {10}

        </span>
    </div> -->
<!-- <div className="countdown-wrapper">



        <div className="countdown-item">
            {days}
            <span>days</span>
        </div>

        <div className="countdown-item">
            {hours}
            <span>hours</span>
        </div>
        <div className="countdown-item">
            {minutes}
            <span>minutes</span>
        </div>
        <div className="countdown-item">
            {seconds}
            <span>seconds</span>
        </div>
    </div>> -->
</body>

</html>
{{ end }}