{{ define "timer" }}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Countdown Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        p {
            text-align: center;
            font-size: 60px;
            margin-top: 0px;
        }
    </style>
</head>

<body style="font-family: 'Lato', sans-serif;">
    <p id="demo"></p>
    <div>
        <h1>Countdown</h1>
        <div className="countdown-wrapper"
            style="display:flex; align-items: center;justify-content: center;flex-wrap: wrap;">
            <div className="countdown-item"
                style="color:#111;display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 40px;line-height: 30px;margin: 10px;padding-top: 10px;position: relative;width: 100px;height: 100px;">
                <p id="days"></p>
                <span style="color: #333;text-transform: uppercase; font-size: 12px;font-weight: 600;"> days</span>
            </div>
            <div className="countdown-item"
                style="color:#111;display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 40px;line-height: 30px;margin: 10px;padding-top: 10px;position: relative;width: 100px;height: 100px;">
                <p id="hours"></p>
                <span style="color: #333;text-transform: uppercase; font-size: 12px;font-weight: 600;">hours</span>
            </div>
            <div className="countdown-item"
                style="color:#111;display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 40px;line-height: 30px;margin: 10px;padding-top: 10px;position: relative;width: 100px;height: 100px;">
                <p id="minutes"></p>
                <span style="color: #333;text-transform: uppercase; font-size: 12px;font-weight: 600;">minutes</span>
            </div>
            <div className="countdown-item"
                style="color:#111;display: flex;align-items: center;justify-content: center;flex-direction: column;font-size: 40px;line-height: 30px;margin: 10px;padding-top: 10px;position: relative;width: 100px;height: 100px;">
                <p id="seconds"></p>
                <span style="color: #333;text-transform: uppercase; font-size: 12px;font-weight: 600;">seconds</span>
            </div>
        </div>
    </div>
    <label style="color:green;text-transform: uppercase;font-size: large;align-items: center;justify-content: center;">

        to event {{.Name}}

    </label>

    <script>
        // Set the date we're counting down to
        var countDownTime = new Date('{{.Year}}', '{{.Month}}', '{{.Day}}', '{{.Hour}}', '{{.Min}}', '{{.Secs}}')
        var countDownDate = countDownTime.getTime();
        console.log(countDownTime.toDateString())

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
            document.getElementById("days").innerHTML = days;
            document.getElementById("hours").innerHTML = hours;
            document.getElementById("minutes").innerHTML = minutes;
            document.getElementById("seconds").innerHTML = seconds;


            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

</body>

</html>

{{ end }}